<!DOCTYPE html>
<html>
<head>
    <title>Kitoblar ro‘yxati</title>
</head>
<body>
    <h1>Kitoblar ro‘yxati</h1>
    <a href="{% url 'home' %}">← Bosh sahifaga qaytish</a>
    <hr>

    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.title }}</strong><br>
                Muallif: {{ book.author }}<br>
                Yil: {{ book.year }}<br>
                Sahifalar soni: {{ book.pages }}<br>
                Janr: {{ book.genre }}
                <hr>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
